<main class="app-content">
    <section>
        <h1 class="header" (click)="toggleForm()">uusi merkintä</h1>
        <!-- <h1 class="header"><span class="material-icons add-button">add_circle_outlined</span></h1> -->
    </section>

    <section *ngIf="addingNewTask" class="task-container">
        <div class="new-task-container task__item">
            <div class="inputs-container">
                <p class="task__title"><input type="text" class="input__title" #title placeholder="Otsikko"></p>
                <p class="task__description"><input type="text" #description placeholder="Kuvaus"></p>
                <div class="new-task__component">
                    <mat-slide-toggle class="example-margin" color="accent" #urgent>
                        Kategoria
                    </mat-slide-toggle>
                </div>
                <div class="new-task__component">
                    <p><button class="input__submit" (click)="addItem({title: title.value, description: description.value, urgent: urgent.checked})">lisää</button></p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="task-container">
            <div class="task__item" *ngFor="let item of items | async">
                <div class="icon-container">
                    <span class="material-icons icon close" (click)="deleteItem(item)">clear</span>
                    <span class="material-icons icon close" (click)="toggleDone(item)" [ngClass]="{'done__icon':item.done}"><p>done</p></span>
                </div>
                <div class="task__text-container">
                    <p class="task__title" [ngClass]="{'urgent':item.urgent && !item.done, 'done':item.done}"><span (click)="toggleDone(item)">{{ item.title }}</span></p>
                    <p class="task__description" [ngClass]="{'done':item.done}">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </section>



</main>
<!-- <footer>
    <p>cheesy but cool software</p>
</footer> -->